@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    /* background-color: black; */
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#welcome{
    display: flex;
}

.leftNav
{
    width: 6%;
    height: 100vh;
    background-color:rgb(76 68 68);
    position: sticky;
    top: 0 ;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.leftNav>img{
    height: 55px;
    width: 55px;
}
.leftNav>img:hover{
    background-color: darkred;

}
.center
{
    width: 94%;
    height: 100vh;
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(255,0,0,1) 800%);
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    font-family: 'Montserrat';
    padding-left: 200px;
    gap: 20px;
    
}
.center>h1{
    font-size: 50px;
}
.center>h1:hover{
    color:  rgb(168, 8, 8); 
}
.center>.exploreBtn{
    width: 200px;
    height: 50px;
    font-size: 22px;
    border: none;
    color: rgb(80, 30, 30);
   
    background-color: white;
    border-radius: 20px;
}
.center>.exploreBtn:hover{
    background-color: transparent;
   
    color:  rgb(168, 8, 8); 

}

@media only screen and (max-width: 600px) and (min-width: 320px){
    #welcome{
        display: flex;
        flex-direction: column;
    }

    .leftNav{
        width: 100%;
        height: 100px;
        flex-direction: initial;
        position: relative;
        /* font-size: 25px; */
    }

    .center{
        width: 100%;
        padding-left: 10px;
    }
    .center>h1{
        font-size: 30px;
    }
    .center>.exploreBtn{
        width: 150px;
        height: 40px;
        font-size: 18px;
    }
    
}

@media only screen and (max-width: 1200px) and (min-width: 601px){
    #welcome{
        /* display: flex; */
        /* flex-direction: column; */
    }

    .leftNav{
        width: 10%;
        height: 100vx;
        flex-direction: initial;
        position: relative;
        /* font-size: 25px; */
        flex-direction: column;
    }

    .center{
        width: 100%;
        padding-left: 100px;
    }
    .center>h1{
        font-size: 30px;
    }
    .center>.exploreBtn{
        width: 180px;
        height: 45px;
        font-size: 18px;
    }
    
}